<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=4, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>

    Terminos:
    <table>
        <tr>
            <td> id</td>
            <td>dan</td>
            <td>sat</td>
        </tr>


      <% for(var i=0; i<REZULTAT.length; i++) {%>
            <tr>
                <td>
                    <%= REZULTAT[i].id %>
                </td>
                <td>
                    <a href=""><%= REZULTAT[i].dan %> </a>
                </td>
                <td>
                    <%= REZULTAT[i].sat %>
                </td>
            </tr>
            <% } %> 

    </table>
</body>

</html>